<section class="section experience">
  <div class="section__title">Certificates</div>
  <div class="section__content">
    <div class="jobs">
      {% for certificate in site.data.certificates %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            {{certificate.title}}
          </div>
          <div class="job__time">{{certificate.time}}</div>
        </div>
        <div class="job__position">{{certificate.authority}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
