<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "https://contimatteo.github.io/",
  "name": "Matteo Conti | Developer & AI Student",
  "description": "Full-Stack developer and Artificial Intelligence student.",
  "author": {
    "@type": "Person",
    "@id": "contimatteo"
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "@id": "contimatteo",
  "name": "Matteo Conti",
  "email": "matte.conti@icloud.com",
  "hasOccupation": {
    "@type": "Occupation",
    "name": "Developer"
  }
}
</script>
